#main_img{position:relative; width:1920px; height:640px; border:1px solid black; overflow:hidden; padding:0px;}
#bestProduct{position:relative; width:1080px; height:350px; border-bottom:1px solid black;  }
#newProduct{position:relative; width:1080px; height:700px; border-bottom:1px solid black;  float:left; }
#front{position:relative; width:1080px;  margin:0 auto; }
#detaFrame{ 
	position:relative;
	
	margin-left :250px;
	width:1080px;
	
	height:1505px;
}
#wFrame{ 
	position:relative;
	
	margin-left :450px;
	width:1000px;
	
	height:550px;
}
.clear{position:relative; width:1080px;  float: left ; height:50px; }
#item{position:relative;border-radius:20px 20px 0px 0px;  overflow:hidden;width:250px; margin-left:9px; margin-right:9px; float:left; margin-bottom:20px; height:320px; border:1px solid silver; font-color:black;}

#item:hover {
box-shadow: 5px 5px 10px #000000;
}
#searchbox{position:absolute;  width:300px; height:300px; left:400px; top:100px;  z-index:0; background-color:white; border-radius:20px 20px 20px 20px; text-align:center; padding:20px;}
a{text-decoration:none;}

#copy{position:relative; width:1920px; height:50px;  overflow:hidden; padding:0px;}
#detail{position:relative; width:550px; height:700px;  overflow:hidden; padding:0px; float:left;  margin-left:100px;}
#detaButtons{position:relative; 
	width:300px;
 	height:400px;
 	border:1px solid gray;
  	padding:0px;
    margin-left:10px;
    margin-right:10px; 
    margin-top:70px;
    float:left;
    }
    
.submit{
	position:relative; 
	width:280px;
	
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	height:40px;
	font-size:130%
	
	
}
.cancel{
	position:relative; 
	width:280px;
	
	margin-left:10px;
	margin-right:10px;
	margin-bottom:5px;
	margin-top:5px;
	height:40px;
	font-size:130%
	
	
}
table#list {
    border-collapse:collapse;    
    border-top: 2px solid  #333;    
    border-bottom: 1px solid  #333; 
    
   padding:0px;
    position:absolute;
   left:-30px;
    margin:0 auto;
}

/* ----------------------------------------------------------김운지 */
body{
     margin:0;
    padding:0;    
}
header{
	/* border:1px solid blue; */
	height: 100px;
}
#wrap1{
	position: relative;
    width: 1200px; /* 각 웹 페이지 크기에 맞게 사이즈 조정 */
    text-align:left;
    margin:0 auto;    
    height: 110px;
    /* border: 1px solid green; */
}
#wrap2{
	position: relative;
    width: 1200px; /* 각 웹 페이지 크기에 맞게 사이즈 조정 */
    text-align:left;
    margin:0 auto;    
    min-height:700px;   
    /* border: 1px solid green; */
}

#logo{
    float:left;
    width:180px;
    height:0px;
}

nav#catagory_menu1{
    float:right;    
    font-family: Arial, Helvetica, sans-serif;
  
}

nav#catagory_menu1 ul{
    list-style:none; 
    line-height: 60px;
    
}

nav#catagory_menu1 ul li{
    display:block; 
    height:30px;
    float:left;
    font-family: 굴림;
}

nav#catagory_menu1 a{
    text-decoration:none;
    display:inline-block;
    width: 130px;
    text-align: center;
    color: #242627;
    font-weight: bold;
    font-size: 18px;
}

nav#catagory_menu1 a:hover{
    color: #3468D9;
    font-weight: bold;    
}
.hhh{
	color: #242627;
}
/* ------------------------------------------------------------중앙 부분 */
#sub_img1 {
 position: relative;
 
 width: 100%;
 height:300px;
/*  border: 1px solid red; */
}

#sub_menu1 {
 width: 250x;
 height: 400px;
 margin-top: 100px;
 float: left; 
 /* border: 1px solid purple; */
}

#sub_menu1 ul {
 margin: 20px 0px 0 0px;
 list-style: none;
}

#sub_menu1 a {
 text-decoration: none;
 color: #242627; font-family: Arial, Helvetica, sans-serif;
 font-weight:bold; font-size:18px;
 display: block;
 height: 20px;
 width: 120px;
 padding: 10px;
 border-bottom: 3px dotted #999;
/*  background-image: url(../images/bullet.gif);
 background-repeat: no-repeat;
 background-position: right center; */
}

#sub_menu1 a:hover {
 /* background-image: url(../images/bullet_orange.gif);
 background-repeat: no-repeat; 
 background-position: right center; */
 color: #3468D9; font-weight:bold; font-size:19px;
 font-family: Arial, Helvetica, sans-serif;
}

article {
 position: relative;
 margin-left: 200px;
 width: 950px;
 min-height:600px;
 padding-right: 10px;
 font-family: Verdana, Geneva, sans-serif;
 font-size: 16px;
 line-height: 30px; 
 /* border: 1px solid yellow; */
}

article h1, div h1 {
 font-family: "Times New Roman", Times, serif;
 font-size: 45px;
 color: #242627;
 margin: 20px 100px;
 font-weight: normal;
}
article h2, div h2{
 font-family: Verdana, Geneva, sans-serif;

 font-size: 30px; 
 color: #240027;
 margin: 40px 100px;
}

table#cartList1 {
    border-collapse:collapse;    
    border-top: 2px solid  #333;    
    border-bottom: 1px solid  #333; 
    width:100%;
     margin-left : 10px;                 
    margin-bottom: 30px;
    text-align: center;
}
table#cartList1 th, td{ 
    border-bottom: 1px dotted  #333;  
}

#forr {
 margin: 10px 0 0 0;
 width: 900px;
}
#forr fieldset {
 padding: 10px 0 20px 5px;
 border: 2px solid gray;
 margin-left: 100px;
}
#forr fieldset legend {
 font-size: 20px; /* 제목으로 사용되기 때문에 크기를 크게 잡아 줍니다. */
 border-bottom: 2px solid #666; /* 제목 하단 부에 점선을 넣어 제목이라는 것을 표시해 줍니다. */
 width: 300px; /* 전체 크기를 잡아 줍니다. */
 padding: 5px 0; /* 위와 아래로 여백을 주고 좌우로는 여백을 없애버립니다. 
                                      여백을 안 주게 되면 밑줄과 너무 붙어버려 보기에 좋지 않습니다. */
 text-align: center;
}
#forr label {
 width: 400px; /* 전체의 크기를 정의합니다. */
 float: left; /* 왼쪽으로 이동시킵니다. */
 margin: 5px 20px; /* 마진을 이용해서 상하로 간격을 줍니다. */
}
#forr input {
 margin: 5px 20px; /* label과 마찬가지로 여기도 동일하게 상하로 간격을 줍니다. */
 border: 1px solid #999; /* input 박스의 테두리 모양을 정의해 줍니다. */
 background-color: #B1C7DB; /* 배경색을 이용하여 바탕화면 색과 차별을 줍니다. */
 font-size: 18px;
}

#forr input.dup {
 width: 90px; /* 버튼의 가로 크기를 정합니다. */
 height: 23px; /* 버튼의 세로 크기를 정합니다. */
 border-radius: 8px; /* border-radius 통해 둥그런 버튼으로 만듭니다. */
 border: none; /* 배경 이미지가 어둡기 때문에 여기서 border는 없애버리겠습니다. */
 margin: 0 0 0 5px; /* 마진을 왼쪽만 줘서 input과의 간격을 벌립니다. */
 font-weight: bold; /* 글꼴 두께를 두껍게 */
 
 
}
#forr #buttons {
 margin: 20px 0 0 0;
 
}
#forr  .submit,#forr  .cancel {
 height: 40px; /* 버튼의 세로 크기를 정의합니다. */
 width: 200px; /* 버튼의 가로 크기를 정의합니다. */
 border: 1px solid #666; /* 버튼의 테두리를 정의합니다. */
 border-radius: 5px; /* border-radius를 통해 버튼을 둥그렇게 만듭니다. */
 box-shadow: 3px 3px 2px #ccc; /* box-shadow를 이용해서 그림자를 만듭니다. */
 font-size: 18px; /* 글꼴 사이즈를 조절합니다. */
 font-weight: bold;
 margin: 0 0 0 20px;
}

#forr #buttons {
 margin: 20px 0 0 0;
 
}

#buttons1 .submit, #buttons1 .cancel{
 height: 40px; /* 버튼의 세로 크기를 정의합니다. */
 width: 200px; /* 버튼의 가로 크기를 정의합니다. */
 border-radius: 5px; /* border-radius를 통해 버튼을 둥그렇게 만듭니다. */
 box-shadow: 3px 3px 2px #ccc; /* box-shadow를 이용해서 그림자를 만듭니다. */
 margin: 5px 20px; /* label과 마찬가지로 여기도 동일하게 상하로 간격을 줍니다. */
 border: 1px solid #999; /* input 박스의 테두리 모양을 정의해 줍니다. */
 background-color: #B1C7DB; /* 배경색을 이용하여 바탕화면 색과 차별을 줍니다. */
 font-size: 18px;
 font-weight: bold;
 margin: 0 0 0 20px;
}

/* ------------------------------------------------------------footer 부분 */
.clear2{position:relative; width:1198px;  height:40px; margin: 0 auto;}

footer {	
 margin:20px 100px 10px 100px;
 height:70px;
 /* background-image: url(../images/bottom_logo.png);
 background-repeat: no-repeat;
 background-position: 60px center;  */
}

#logo1{
    float:left;
    width:180px;
    height:50px;
    margin:10px 0 0 20px;
}

footer #copy {
 margin: 5px 0 0 100px;
 width:600px; 
 float:left; 
}


/* -------------------------------------------- member  */

.mc_area{margin:0 auto; margin-top:100px; border:0px solid black; text-align:center;}
.m_title{padding:30px 0; margin-bottom:30px; font-weight:bold; color:#000; font-size:250%; text-align:center;}
.con_fm{margin:0 auto; width:700px; border:0px solid black;}
.con_label{font-size:110%; font-weight:bold; /* float: left;  */ margin-bottom:20px;}
.con_textarea{margin-top:20px; margin-bottom:20px;}
.con_text1{padding:50px; font-size:100%; margin-bottom:5px; font-weight:bold; }
.con_text2{float:left; text-align:left; font-size:90%; color:red; margin-bottom:5px; }
.c_radio{margin-bottom:50px;}
.submit_a{height: 40px; width: 185px; border-radius: 5px; box-shadow: 3px 3px 2px #ccc; 
 margin: 5px 20px; border: 1px solid #999; background-color: #B1C7DB; font-size: 18px;
 font-weight: bold; margin: 0 0 0 20px;}
 .cancel_a{height: 40px;  width: 185px; border-radius: 5px; box-shadow: 3px 3px 2px #ccc; 
 margin: 5px 20px;  border: 1px solid #999; background-color: #B1C7DB; font-size: 18px;
 font-weight: bold; margin: 0 0 0 20px;}
 
.del_legend{font-size:110%; margin-bottom:100px; text-align:center;}
.del_frm1{ margin:0 auto;   /* border:1px solid gray;  */ width:400px;  text-align:left; padding-left:60px;}
.del_le{font-size:120%; font-weight:bold; text-align:center; color:#BF023B;}
.del_frm{ margin:0 auto; /* border:1px solid gray;  */ width:650px;  text-align:center;}

.mc_area{margin:0 auto; margin-top:100px; border:0px solid black; }
.m_title{padding:30px 0; margin-bottom:30px; font-weight:bold; color:#000; font-size:250%; text-align:center;}
.del_frm1{ margin:0 auto;   /* border:1px solid gray;  */ width:400px;  text-align:left; padding-left:60px;}
.del_div{margin-top:30px;}
.del_legend{font-weight:bold; font-size:130%; margin-bottom:100px; text-align:center;}
.input{width: 330px; height: 35px;  font-size:120%; /* margin: 5px 0; */ margin-bottom:30px; padding:2px; 
 border: 1px solid #999;  background-color: #E8E8E8;  border-radius: 5px;}

.del_text{font-weight:bold; font-size:100%;}

.input{width: 330px; height: 35px;  font-size:120%; /* margin: 5px 0; */ margin-bottom:30px; padding:2px; 
 border: 1px solid #999;  background-color: #E8E8E8;  border-radius: 5px;}
.login_label{font-size:120%; font-weight:bold; float: left; margin-bottom:5px;}
.m_area{margin:0 auto; margin-top:100px; border:0px solid black; text-align:center;}
.login1{width:300px; margin:0 auto; padding:20px; margin-bottom:50px;  border:0; }
.m_title{padding:30px 0; margin-bottom:20px; font-weight:bold; color:#000; font-size:250%; text-align:center;}



