body{
     margin:0;
    padding:0;    
}
header{
	/* border:1px solid blue; */
	height: 100px;
}
#wrap1{
	position: relative;
    width: 1200px; /* 각 웹 페이지 크기에 맞게 사이즈 조정 */
    text-align:left;
    margin:0 auto;    
    height: 110px;
    /* border: 1px solid green; */
}
#wrap2{
	position: relative;
    width: 1200px; /* 각 웹 페이지 크기에 맞게 사이즈 조정 */
    text-align:left;
    margin:0 auto;    
    min-height:700px;   
    /* border: 1px solid green; */
}

#logo{
    float:left;
    width:180px;
    height:0px;
}

nav#catagory_menu1{
    float:right;    
    font-family: Arial, Helvetica, sans-serif;
  
}

nav#catagory_menu1 ul{
    list-style:none; 
    line-height: 60px;
    
}

nav#catagory_menu1 ul li{
    display:block; 
    height:30px;
    float:left;
    font-family: 굴림;
}

nav#catagory_menu1 a{
    text-decoration:none;
    display:inline-block;
    width: 130px;
    text-align: center;
    color: #242627;
    font-weight: bold;
    font-size: 18px;
}

nav#catagory_menu1 a:hover{
    color: #3468D9;
    font-weight: bold;    
}
.hhh{
	color: #242627;
}

.clear2{position:relative; width:1198px;  height:40px; margin: 0 auto;}

footer {	
 margin:20px 100px 10px 100px;
 height:70px;
 /* background-image: url(../images/bottom_logo.png);
 background-repeat: no-repeat;
 background-position: 60px center;  */
}

#logo1{
    float:left;
    width:180px;
    height:50px;
    margin:10px 0 0 20px;
}

footer #copy {
 margin: 5px 0 0 100px;
 width:600px; 
 float:left; 
}

/* ------------------------------------------------------------중앙 부분 */
a {
 text-decoration: none;
 color: #333;
}

a:hover {
 text-decoration: underline;
 color: #F90;
 cursor: pointer;
}

#wrap {
 width: 971px;
 text-align: center;
 margin: 0px;
 margin-right: auto;
 margin-left: auto;
 min-height: 923px;
}

nav#top_menu {
 float: right;
 width: 600px;
 margin: 50px 20px 0 0;
}


nav#top_menu ul {
 list-style: none;
}

nav#top_menu ul li {
 float: left;
 margin: 0 5px;
}

nav#top_menu ul li a {
 display: block;
 text-decoration: none;
 color: #333;
 padding: 10px;
 font-style: normal;
 font-size: 13px;
}

nav#top_menu ul li a:hover {
 background-repeat: repeat-x;
 background-position: bottom;
 border-bottom: 2px solid gray;
}

nav#top_menu ul li a.logout {
 margin-left: 238px;
}

nav#top_menu ul li a.logout1 {
 margin-left: 210px;
}

.clear {
 clear: both;
}

#review {
 float: inherit;
 margin-left: 30px;
 margin-bottom: 50px;
 height: 300px;
 width: 900px;
}

#review h1 {
 text-align: center;
}


.btn {
 width: 100px;
 border-radius: 5px;
 background-color: #FC3;
 color: #333;
 box-shadow: 3px 3px 3px #999999;
 text-decoration: none;
 text-align: center;
 padding: 5px;
 margin: 0 7px 7px 0px;
}

.btn:HOVER {
 background-color: #FFF;
}

.btn:ACTIVE {
 box-shadow: none;
}

article {
 min-height: 600px;
}

th {
 background-color: #E4E4E4;
}

#main_img {
 margin-top: 40px;
}

#main_img img {
 padding-left: 5px;
}

#main_img h1 {
 text-align: center;
 font-size: 20pt;
 font-weight: bold;
 font-family: sans-serif;
}

#imgId {
 width: 30px;
 height: 40px;
}

#loginform {
 margin-left: 400px;
}

table#productList {
 border-collapse: collapse; border 사이의 간격 없앰
 border-top: 2px solid #333;
 border-bottom: 1px solid #333;
 width: 80%; 전체 테이블 길이 설정
 margin-left: 100px;
 margin-bottom: 20px;
 text-align: center;
}
table#productList th,td {
 text-align: center;
}

th, td{ 
 padding: 8px 5px;
 
}

#productList td{ 테이블의 th 와 td 마진과 패딩 지정
 padding-right: 40px;
 text-align: center;
}

#list td{ 
 padding: 8px 5px;
 text-align: left;
}

table#orderList {
 border-collapse: collapse; border 사이의 간격 없앰
 border-top: 2px solid #333;
 border-bottom: 1px solid #333;
 width: 85%; 전체 테이블 길이 설정
 margin-left: 100px;
 margin-bottom: 20px;
}

table#orderList th,td {
 text-align: center;
}

#register {
 margin-left: 300px;
}

#register table {
 border: 1px solid black;
 border-spacing: 5px;
}

#register td {
 border: 1px solid black;
 width: 270px;
}

#insertTheater {
 margin-left: 350px;
}

#insertTheater table {
 border: 1px solid gray;
 border-spacing: 5px;
}

#insertTheater td {
 border: 1px solid gray;
}

#insertMovie {
 margin-left: 300px;
}

#insertMovie table {
 border: 1px solid gray;
 border-spacing: 5px;
}

#insertMovie td {
 border: 1px solid gray;
}

#insertMovieTime table {
 border: 1px solid gray;
 border-spacing: 5px;
}

#insertMovieTime td {
 border: 1px solid gray;
}

#mypageReserve table {
 border: 1px solid black;
 width: 480px;
 height: 180px;
 margin-top: 10px;
 background-image: url("../images/tic.png");
 background-repeat: no-repeat;
 background-position: center;
 margin-left: 300px;
 color: #006700;
}

#mypageReserve .btn {
 margin-right: 30px;
}

#mypageReserve b {
 margin-top: 50px;
 margin-left: 110px;
 font-size: 20pt;
 font-weight: bold;
}

#mypageReserveView table {
 border: 1px solid gray;
 width: 500px;
 height: 150px;
 margin-left: 300px;
 margin-top: 10px;
}

#mypageReviewList table {
 border: 1 solid black;
 width: 800px;
 margin-top: 10px;
 margin-left: 150px;
}

#mypageReviewList td {
 border-bottom: 1px solid gray;
 width: 800px;
 height: 30px;
 margin-top: 10px;
}

#mypageReviewList th {
 border: 1 solid black;
 height: 30px;
 width: 20px;
}

#userView table {
 border: 1 solid black;
 width: 500px;
 margin-top: 10px;
 margin-left: 300px;
}

#userView td {
 border: 1px solid gray;
 height: 30px;
 width: 20px;
}

#userView th {
 border: 1 solid black;
 height: 30px;
 width: 20px;
}

#userView h1 {
 padding: 5px;
}

#userView a {
 text-decoration: none;
 font-size: 12pt;
 margin-bottom: 100px;
 margin-left: 150px;
}

#userUpdate h1 {
 padding: 5px;
}

#userUpdate table {
 margin-left: 430px;
}

nav#sub_menu {
 float: left;
 margin-right: 10px;
 margin-left: 50px;
}

nav#sub_menu ul li {
 list-style-type: none;
 margin-top: 10px;
}

nav#sub_menu a {
 text-decoration: none;
 color: #666;
 border-bottom: 1px dotted #999;
 display: block;
 width: 100px;
 height: 25px;
 padding: 5px;
}

nav#sub_menu a:hover {
 border-bottom: 1px solid black;
}

nav#sub_menu h1 {
 padding: 5px;
 border-bottom: double;
}

nav#sub_menu ul {
 margin-left: -20px;
}

영화-> 리뷰 테이블 css
div.reviewdiv {
 font-family: "맑은 고딕";
 font-size: 15px;
}

div.reviewdiv table tr.review2 td {
 border-bottom-style: dotted;
 border-collapse: collapse;
 border-bottom-width: 1px;
 text-align: center;
}

div.reviewdiv table tr.review2:HOVER {
 background-color: #FAFAD2;
 color: inherit;
}

div.reviewdiv table tr.review2 td.starpoint {
 text-align: left;
}

div.reviewdiv table.reviewtable {
 width: 1000px;
}

#check table {
 border: 1px solid gray;
 border-spacing: 5px;
 margin-left: 300px;
}

#check td {
 border: 1px solid gray;
}

#check h1 {
 font-size: 10pt;
 text-align: center;
}
